.github/
dependencies/build/*
dependencies/installed/*
out/*
venv/*
.venv/*
**/__pycache__/*
.idea/*
**/*.egg-info/
*.egg-info/
**/*.sif
build*/
*out.txt
# Don't include the README in the image
README.md