name: Build Docker images
on:
  workflow_dispatch:
  push:
    branches: ["main"]
    tags: ["v*"]

concurrency: docker

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

jobs:
  build_platform_images:
    name: Build platform images
    strategy:
      matrix:
        include:
          - architecture: "amd64"
            base_image: "ubuntu:22.04"
            use_cuda: "OFF"
            tag_suffix: ""
          - architecture: "amd64"
            base_image: "nvidia/cuda:12.4.1-devel-ubuntu22.04"
            use_cuda: "ON"
            tag_suffix: "-cuda12.4"
          - architecture: "amd64"
            base_image: "nvidia/cuda:12.8.1-devel-ubuntu22.04"
            use_cuda: "ON"
            tag_suffix: "-cuda12.8"
          - architecture: "arm64"
            base_image: "ubuntu:22.04"
            use_cuda: "OFF"
            tag_suffix: ""
          - architecture: "arm64"
            base_image: "nvidia/cuda:12.4.1-devel-ubuntu22.04"
            use_cuda: "ON"
            tag_suffix: "-cuda12.4"
          - architecture: "arm64"
            base_image: "nvidia/cuda:12.8.1-devel-ubuntu22.04"
            use_cuda: "ON"
            tag_suffix: "-cuda12.8"
    runs-on: ${{ fromJSON('["ubuntu-22.04", "ubuntu-22.04-arm"]')[contains(matrix.architecture, 'arm')] }}
    steps:
      - name: Clean up disk space
        run: |
          # Space usage before cleanup
          df -h /

          # Remove unused tool caches (comment any required ones with #)
          sudo rm -rf /usr/lib/jvm
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/local/share/powershell
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/share/swift
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

          # Verify gains
          df -h /

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/educelab/pgs-recon
          flavor: |
            suffix=-${{ matrix.architecture }}${{ matrix.tag_suffix }},onlatest=true
          tags: |
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=edge

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          build-args: |
            BASE_IMAGE=${{ matrix.base_image }}
            USE_CUDA=${{ matrix.use_cuda }}
          push: ${{ github.event_name != 'pull_request' }}
          platforms: linux/${{ matrix.architecture }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        if: ${{ github.event_name != 'pull_request' }}
        with:
          subject-name: ghcr.io/educelab/pgs-recon
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true

      - name: Export digest
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          mkdir -p ${{ runner.temp }}/digests${{ matrix.tag_suffix }}
          digest="${{ steps.push.outputs.digest }}"
          touch "${{ runner.temp }}/digests${{ matrix.tag_suffix }}/${digest#sha256:}"

      - name: Upload digest
        if: ${{ github.event_name != 'pull_request' }}
        uses: actions/upload-artifact@v4
        with:
          name: digests-linux-${{ matrix.architecture }}
          path: ${{ runner.temp }}/digests${{ matrix.tag_suffix }}/*
          if-no-files-found: error
          retention-days: 1

  merge_platform_images:
    name: Merge platform images
    needs: build_platform_images
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        include:
          - base_image: "ubuntu:22.04"
            use_cuda: "OFF"
            tag_suffix: ""
          - base_image: "nvidia/cuda:12.4.1-devel-ubuntu22.04"
            use_cuda: "ON"
            tag_suffix: "-cuda12.4"
          - base_image: "nvidia/cuda:12.8.1-devel-ubuntu22.04"
            use_cuda: "ON"
            tag_suffix: "-cuda12.8"
    steps:
      - name: Download Digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests${{ matrix.tag_suffix }}
          pattern: digests-*
          merge-multiple: true

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/educelab/pgs-recon
          flavor: |
            suffix=${{ matrix.tag_suffix }},onlatest=true
          tags: |
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=edge

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests${{ matrix.tag_suffix }}
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf 'ghcr.io/educelab/pgs-recon@sha256:%s ' *)

      - name: Inspect Image
        run: |
          docker buildx imagetools inspect ghcr.io/educelab/pgs-recon:${{ steps.meta.outputs.version }}
